body {
    font-family: 'Courier New', 'Monospace';
    background-color: #e7e7e7;
    height: 100%;
}

input {
    width: 40em;
    height: 2.5em;
}

table {
    margin-top: 3em;
}

div.main {
    min-height: 100%;
    background-color: #fff;
    max-width: 60em;
    margin: 0 auto;
    padding: 4em;
}