<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Article Search</title>
</head>
<body>
    <div class="main">
        <header>
            <h1>Article Search</h1> 
        </header>
        <main>
            <div id="errors" v-if="errors.length >= 1">
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div id="userInput">
                <input name="query" placeholder="Enter the title of the article to search" v-model="input_" type="text" @keyup.enter="articleSearch($event, input_)">
                <input name="numResults" type="text" v-model="numberOfResults" placeholder="Number of results to fetch (default=10)" @keyup.enter="articleSearch($event, input_)">
            </div>
            <table v-if="articles">
                <thead> 
                    <th>Publication</th>
                    <th>Link</th>
                </thead>
                <tr v-for="article in articles">
                    <td>{{ article.source }}</td>
                    <td><a :href="article.url">{{ article.title }}</a></td>
                </tr>
            </table>
        </main> 
        <footer>
            <h5>Created by Anthony Chao - <a href="http://www.github.com/anthonysea">GitHub</a></h5>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>